*{
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: black;
    justify-self: center;
    z-index: 100;
}
header .header_content{
    display: grid;
    width: 1160px;
    justify-content: center;
    grid-template-columns: 145px 1fr 435px 1fr;
}
header .header_content .logo{
    display: grid;
    width: 82px;
    height: 52px;
    justify-self: flex-start;
    align-items: center;
    justify-items: center;
    align-self: center;
    border:1px solid #FFFFFF;
    border-radius: 2px;
}
header .header_content nav{
    display: grid;
    align-self: center;
}
header .header_content nav .menu{
    display: grid;
    height: 22px;
    grid-template-columns: repeat(5, auto);
    justify-items:start;
    align-items: center;
    align-self: center;
    gap: 58px;
}
header .header_content nav .menu a{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}
header .header_content nav .menu p a.active{
    color: orange;
}
header .header_content nav .menu p a{
    text-decoration: none;
}
header .header_content .disigned_by{
    display: grid;
    width: 105px;
    height: 22px;
    align-self: center;
    align-items: center;
    justify-self: end;
    justify-content: end;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
}
section1{
    display: grid;
    margin-top: -80px;
    width: 100%;
    height: 780px;
    background-image:url(../../assets/images/Giant\ Panda.png);
    background-size: 100% 100%;
    justify-content: center;
}
section1 .block1 content{
    display: grid;
    width: 1160px;
    height: 780px;
    justify-content: center;
    justify-items: center;
    grid-template-columns:1fr 1fr;
}
section1 .block1 content .space{
    display: grid;
    width: 583px;
}
section1 .block1 content .conteiner{
    display: grid;
    width: 530.31px;
    height: 400px;
    justify-content: center;
    grid-template-areas: 
    "circle ",
    "text"
    "button"
    ;
}
section1 .block1 content .conteiner .circle{
    display: grid;
    position: relative;
    grid-area: circle;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background-image: linear-gradient(to left,#FE9013 ,#F9804B);
    margin-top: 92px;
    margin-right: 110px;
}
section1 .block1 content .conteiner .text{
    display: grid;
    position: relative;
    grid-area: text;
    width:500px;
    height: 400px;
    margin-top: 166px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 106.5px;
    line-height: 79.87px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.9px;
    margin-top: 164px;
    margin-left: 73px;
}
section1 .block1 content .conteiner .button{
    display: grid;
    grid-area: button;
    width: 298px;
    height: 54px;
    justify-self: center;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    margin-top: 626px;
    margin-left: 80px;
    background-image: linear-gradient(to left,#FE9013 ,#F9804B);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
section2{
    display: grid;
    position: relative;
    width: 100%;
    height: 1830px;
    justify-items: center;
    justify-content: center;
    background-color: #E5E5E5;

}
section2 .flower1{
    position: absolute;
    display: grid;
    justify-self: end;
    width: 204px;
    height: 613px;
}
section2 .flower2{
    display: grid;
    position: absolute;
    align-self: flex-end;
    justify-self: start;
    width: 292px;
    height: 460px;
}
section2 .flower3{
    display: grid;
    position: absolute;
    align-self: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    width: 880px;
    height: 460px;
}
section2 .flower3 .flower{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
section2 .block2{
    display: grid;
    grid-area: block2;
    width: 1160px;
    height: 1830px;
    grid-template-rows: 543px 1052px 1fr;
    justify-content: center;
    justify-items: center;
}
section2 .block2 .content2{
    display: grid;
    width: 1160px;
    height: 400px;
    margin-top: 140px;
    grid-template-columns: 609px 1fr;
    grid-template-areas: 
    "foto2 text2";
}
section2 .block2 .content2 .foto_content2{
    display: grid;
    grid-area: foto2;
    width: 609px;
}
section2 .block2 .content2 .text_content2{
    display: grid;
    grid-area: text2;
    width: 467px;
    height: 400px;
    margin-left: 87px;
}
section2 .block2 .content2 .text_content2 .h2 h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;  
}
section2 .block2 .content2 .text_content2 .h2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    margin-top: 20px;
}
section2 .block2 .content2 .text_content2 .h4 h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px; 
    line-height: 20.8px;
    margin-top: 54px; 
}
section2 .block2 .content2 .text_content2 .h4 p{
    width: 465px;
    height: 105px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 22.4px;
    margin-top: 34px; 
}
section2 .block2 .wrapper_cards{
    width: 1324px;
    height: 872px;
    display: grid;
    grid-template-columns: 82px 1fr 82px;
    grid-template-areas: 
    "button_left cards_block button_right";
    margin-top: 176px;
}
section2 .block2 .wrapper_cards .button_left{
    display: grid;
    grid-area: button_left;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    align-self: center;
    cursor: pointer;
}
section2 .block2 .wrapper_cards .button_left img{
    align-self: center;
    justify-self:center ;
}
section2 .block2 .wrapper_cards .button_right{
    display: grid;
    grid-area: button_right;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    align-self: center;
    justify-self: flex-end;
    cursor: pointer;
}
section2 .block2 .wrapper_cards .button_right img{
    align-self: center;
    justify-self:center ;
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards{
    display: grid;
    width: 1158px;
    height: 872px;
    grid-area: cards_block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "card card card",
    "card card card";
    column-gap: 30px;
    row-gap: 20px;
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card{
    display: grid;
    width: 366px;
    height: 426px;
    border-radius: 5px;
    border: 1px solid #FE9013;
    grid-template-rows: 366px 60px;
    grid-template-areas: 
    "foto_animals",
    "discription";
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card img{
    display: grid;
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card .discription{
    display: grid;
    position: relative;
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card .discription .name_animals{
    display: grid;
    width: 294px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 22.4px;
    margin-left: 12px;
    margin-top: 10px; 
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card .discription .place{
    display: grid;
    width: 294px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px; 
    line-height: 18px;
    margin-left: 12px;
    margin-top: 0px;
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card .discription .feed1{
    display: grid;
    position:absolute;
    width: 33px;
    height: 30px;
    justify-self: flex-end;
    align-self: flex-start;
    align-content: flex-start;
    margin-top: 8px;
    margin-right: 10px;
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card .discription .feed2{
    display: grid;
    position:absolute;
    width: 33px;
    height: 30px;
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 8px;
    margin-right: 10px;
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card .discription .feed3{
    display: grid;
    position:absolute;
    width: 33px;
    height: 30px;
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 8px;
    margin-right: 20px;
    transform: rotate(-0deg)
}
section2 .block2 .wrapper_cards .slider_cards .cont_cards .card .discription .feed4{
    display: grid;
    position:absolute;
    width: 33px;
    height: 30px;
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 20.27px;
    margin-right: 15px;
    transform: rotate(0deg)
}
section2 .block2 .button_block2{
    display: grid;
    background: #FE9013;
    width: 298px;
    height: 54px;
    color: #FFFFFF;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
}
section3{
    display: grid;
    width: 100%;
    height: 1004px;
    justify-items: center;
    justify-content: center;
    background-image:linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
}
section3 .block3{
    display: grid;
    width: 1160px;
    height: 835px;
    border-radius: 20px;
    margin-top: 69px;
    justify-content: center;
    justify-items: center;
    background-color:#FDFDFF85;
}
section3 .block3 .content3{
    display: grid;
    justify-items: center;
}
section3 .block3 .content_text3{
    display: grid;
    width: 1005px;
    height: 220px;
    margin-top: 41px;
}
section3 .block3 .content_text3 .h1{
    display: grid;
    width: 463px;
    height: 58px;
    justify-self: center;
}
section3 .block3 .content_text3 .h1 h1{
    display: grid;
    width: 463px;
    height: 58px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FE9013; 
    line-height: 57.6px;
    white-space: nowrap;
    justify-content: end;
    margin-left: -5px;
}
section3 .block3 .content_text3 .cont_tx{
    display: grid;
    width: 1005px;
    height: 162px;
    margin-left: 25px;
}
section3 .block3 .content_text3 .cont_tx h4{
    display: grid;
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    justify-content: flex-start;
    margin-top: 30px;
}
section3 .block3 .content_text3 .cont_tx .p1{
    display: grid;
    width: 1061px;
    height: 21px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    justify-content: flex-start;
    letter-spacing: 0.1px;
}
section3 .block3 .content_text3 .cont_tx .p2{
    display: grid;
    width: 863px;
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    justify-content: flex-start;
    margin-top: 10px;
}
section3 .block3 .content3 .content_pay{
    display: grid;
}
section3 .block3 .content3 .content_pay .cont_pay_img{
    display: grid;
    width: 764px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "img1 arrow1 img2 arrow2 img3";
    margin-top: 10px;
}
section3 .block3 .content_pay .h3{
    display: grid;
    width: 210px;
    height: 47px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px; 
    line-height: 46.8px;
    justify-self: center;
    white-space: nowrap;
    justify-self: center;
    margin-top: 18px;
}
section3 .block3 .content_pay .cont_pay_img .card_pay1{
    display: grid;
    grid-area: img1;
}
section3 .block3 .content_pay .card_pay2{
    display: grid;
    grid-area: img2;
}
section3 .block3 .content_pay .card_pay3{
    display: grid;
    grid-area: img3;
}
section3 .block3 .content_pay .arrow_pay1{
    display: grid;
    grid-area: arrow1;
    margin-top: 60px;
    justify-self: center;
}
section3 .block3 .content_pay .arrow_pay2{
    display: grid;
    grid-area: arrow2;
    margin-top: 60px;
    justify-self: center;
}
section3 .block3 .content_pay .text_pay{
    display: grid;
    width: 168px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 22.4px;
    align-content: space-around;
}
section3 .block3 .content3 .button_pay{
    display: grid;
    width: 298px;
    height: 54px;
    border-radius: 25px;
    background-color:#FE9013;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 22.4px;
    color: #FFFFFF;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
}
section4{
    display: grid;
    position: relative;
    width: 100%;
    height: 919px;
    justify-items: center;
    justify-content: center;
    background:#FFFFFF;
}
section4 .block4{
    display: grid;
    width: 1160px;
    height: 920px;
    align-content: flex-start;
    margin-left: 8px;
}
section4 .block4 .title4{
    display: grid;
    width: 206px;
    height: 100px;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px; 
    line-height: 46.8px;
    margin-top: 140px;
}
section4 .block4 .slider2_wrapper{
    width: 1160px;
    height: 420px;
    align-self: flex-start;
    margin-top: -5px;
}
section4 .block4 .slider2_wrapper .slider2_conteiner{
    display: grid;
    width: 1160px;
    height: 420px;
    overflow: hidden;
    align-items: flex-start;
    justify-items: baseline;
    align-self: flex-start;
    justify-content: space-between;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .wrapper_scrollbar{
    display: grid;
    height: 8px;
    width: 599px;
    margin-left: 270px;
    margin-top: 21px;
    border-radius: 5px;
    background-image:
   linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
   linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
section4 .block4 .slider2_wrapper .slider2_conteiner .scrollbar_track{
    display: grid;
    width: 598px;
    height: 7px;
    border-radius: 5px;
    background-color: #F5F7F6;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .scrollbar_track .scrollbar_thumb{
    display: grid;
    width:115.19px;
    height: 5px;
    border-radius: 5px;
    background-color: #FE9013;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .scrollbar_track .scrollbar_thumb:hover{
    background-color: rgb(249, 178, 45);
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card{
    display: grid;
    width: 1160px;
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person{
    display: grid;
    width: 264px;
    height: 387px;
    border-radius: 20px;
    background-color: #F1F3F2;
}
.backgraund{
    display: grid;
    width: 268px;
    height: 391px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .person{
    display: grid;
    width: 264px;
    height: 63px;
    grid-template-areas: 
    "foto_person name_person name_person name_person"
    "foto_person local_person symbol time_person";
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .person .foto_person{
    display: grid;
    grid-area: foto_person;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .person .name_person{
    display: grid;
    grid-area: name_person;
    height: 19px;
    justify-self: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 19.2px;
    justify-self: flex-start;
    align-self: flex-end;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .person .local_person{
    display: grid;
    grid-area: local_person;
    height: 18px;
    justify-self: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px; 
    line-height: 18px;
    opacity: 0.5;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .person .symbol{
    display: grid;
    grid-area: symbol;
    width: 5px;
    height: 18px;
    font-size: 10px;
    justify-self: center;
    align-self: flex-start;
    align-content:center;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .person .symbol::before{
    color:#000000; 
    content: "●"; 
    opacity: 0.5;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .person .time_person{
    display: grid;
    grid-area: time_person;
    height: 18px;
    justify-self: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px; 
    line-height: 18px;
    opacity: 0.5;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .text_person{
    display: grid;
    width: 237px;
    height: 309px;
    justify-self: center;
    align-self: flex-start;
    margin-bottom: 20px;
}
section4 .block4 .slider2_wrapper .slider2_conteiner .slider2_card .card_person .text_person p{
    text-align: start;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px; 
    line-height: 18px;
    color: #767474;
}
section4 .block4 .button_block4{
    display: grid;
    width: 298px;
    height: 54px;
    background-image: linear-gradient(#F9804B 0%,
    #FE9013 100%);
    border-radius: 5px;
    justify-self: start;
    margin-top: 32px;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 22.4px;
    color: #FFFFFF;
}
section4 .div_leav_foto{
    display: grid;
    position:absolute;
    width:240px;
    height: 290px;
    align-self: flex-end;
    justify-self: end;
    margin-bottom: -10px;
}
section5{
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: center;
    background: #111115;
}
section5 .block5{
    display: grid;
    width: 1160px;
    height: 443px;
    grid-template-rows: 165px 55px 1fr;

}
section5 .block5 .footer_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section5 .block5 .footer_header .footer_logo{
    display: grid;
    width: 82px;
    height: 52px;
    border-radius: 2px;
    border: 0.5px solid #FFFFFF;
    justify-content: center;
    align-content: center;
    margin-top: 41px;
}
section5 .block5 .footer_header .subscribe{
    display: grid;
    justify-self: end;
    grid-template-rows: 69px 1fr;
    grid-template-areas: 
    "title"
    "input";
}
section5 .block5 .footer_header .subscribe .subscribe_title{
    display: grid;
    grid-area: title;
    width: 237px;
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px; 
    line-height: 28.8pxpx;
    color: #FFFFFF;
    margin-top: 40px;
}
section5 .block5 .footer_header .subscribe .subscribe_input{
    display: grid;
    grid-area: input;
    align-items: flex-start;
    grid-template-areas: 
    "inp btn";
    margin-top: 14px;
}
section5 .block5 .footer_header .subscribe .subscribe_input .input{
    display: grid;
    grid-area: inp;
    width: 218px;
    height: 42px;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    border: 0.7px solid #F9804B;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 22.4px;
    color: #BDBDBD;
    background-color: #111115;
    padding-left: 10px;
}
section5 .block5 .footer_header .subscribe button{
    display: grid;
    grid-area: btn;
    width: 129px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #4B9200;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 22.4pxpx;
    color: #4B9200;
    margin-left: 10px;
    cursor: pointer;
}
section5 .block5 .footer_donate{
    display: grid;
    height: 55px;
    justify-self: flex-start;
    align-self: flex-start;
}
section5 .block5 .footer_donate .btn_donate{
    display: grid;
    width: 298px;
    height: 54px;
    border-radius: 5px;
    background-image: linear-gradient(#F9804B 0%, #FE9013 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 22.4px;
    color: #FFFFFF;
    justify-content: center;
    align-content: center;
}
section5 .block5 .footer_icons_nav_disigned{
    display: grid;
    grid-template-columns: 1fr 490px 1fr;
}
section5 .block5 .footer_icons_nav_disigned .footer_icons{
    display: grid;
    width: 115px;
    height: 140px;
    justify-self: flex-start;
    align-self: center;
}
section5 .block5 .footer_icons_nav_disigned .footer_icons .icons_f{
    display: grid;
    width: 115px;
    height: 35px;
    grid-template-columns: 38px 1fr;
}
section5 .block5 .footer_icons_nav_disigned .footer_icons .ic{
    display: grid;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color:#C4C4C4;
    color:#FFFFFF;
    justify-content: center;
    align-content: center;
}
section5 .block5 .footer_icons_nav_disigned .footer_icons .n{
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 22.4px;
    color: #FFFFFF; 
    justify-content: flex-start;
    align-content: center;  
}
section5 .block5 .footer_icons_nav_disigned .footer_nav{
    display: grid;
    align-self: center;
    margin-bottom: 50px;
    align-self: flex-end;
    margin-left: 70px;
}
section5 .block5 .footer_icons_nav_disigned .footer_nav nav .menu_footer{
    display: grid;
    height: 22px;
    grid-template-columns: repeat(5, auto);
    justify-items:start;
    align-items: center;
    align-self: center;
    gap: 50px;
}
section5 .block5 .footer_icons_nav_disigned .footer_nav nav .menu_footer p{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    gap: 58px;
}
section5 .block5 .footer_icons_nav_disigned .footer_nav nav .menu_footer p a.active{
    color: orange;
}
section5 .block5 .footer_icons_nav_disigned .footer_nav nav .menu_footer p a{
    text-decoration: none;
    color: #FFFFFF;

}
section5 .block5 .footer_icons_nav_disigned .disigned{
    display: grid;
    width: 230px;
    height: 52px;
    justify-self: flex-end;
    justify-items: flex-start;
    margin-top: 126px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 20.8px;
    color: #FFFFFF;
    opacity: 0.6;
    white-space: nowrap;
}
